@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

nav {
    background-color: white;
    background-image: url(Picture/paw-pattern\ 1.svg);
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    border-radius: 50px;

}

.container .hamburger {
    display: none;
    cursor: pointer;

}

#hamburger-div {
    justify-content: center;
    width: 99%;
    height: 500px;
    background-color: white;
    padding: 40px 20px 40px 20px;
    border-radius: 32px 32px 0px 0px;
    display: none;

}

#rightnav a {
    color: rgba(46, 81, 113, 1);
    text-decoration: none;
    margin: 10px;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;

}

.lowercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;

}

.lowercontainer p {
    color: rgba(46, 80, 112, 1);
    ;
    text-decoration: none;
}

.lowercontainer a {
    color: rgba(46, 80, 112, 1);
    ;
    text-decoration: none;
}

.lowercontainer img {
    margin: 0px 20px;
    align-items: center;
}

.hero-img-bg img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.hero-judul {
    font-weight: 900;
    color: #2E5070;
    max-width: 245px;
    font-size: 54px;
}

.right-side {
    display: flex;
    justify-content: center;
}

.cat-grooming-section {
    height: 85vh;
}

footer {
    width: 105%;
    height: 450px;
    background-image: url(./images/paw-pattern-dark.svg);
    background-color: rgba(46, 80, 112, 1);
    display: flex;
    justify-content: center;
}

#footer {
    width: 95%;
    height: 450px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upper-footer {
    width: 75%;
    height: 250px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

#upper-footer img {
    width: 250px;
}

#upper-footer h6 {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: rgba(198, 234, 227, 1);
}

#upper-footer p {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

#lower-footer {
    width: 100%;
    height: 150px;
    border-top: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    nav {
        overflow: hidden;
    }

    #rightnav a {
        display: none;
    }

    .container .hamburger {
        display: flex;
    }

    #hamburger-div {
        display: none;
        margin-top: 110px;
        position: fixed;
    }

    .hero-img-bg img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }

    .left-side {
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 32px;
    }

    .right-side {
        justify-content: start;
    }

    .hero-body {
        padding-left: 32px;
        align-items: flex-start;
        max-width: 100%;
    }

    .img-daycare {
        width: 350px;
        height: 360px;
        object-fit: cover;
        display: flex;
        justify-content: center;
    }

    .judul-body {
        padding-inline: 32px;
        padding-top: 32px;
    }

    .paragraf-body {
        max-width: 100%;
        padding-left: 32px;
    }

    .paket-daycare-judul {
        margin-inline: 32px;
    }

    .card-paket-daycare {
        margin-inline: 32px;
        margin-block: 32px;
    }

    .container-card-content {
        display: flex;
        flex-direction: column;
    }

    .list-container {
        max-width: 255px;
    }

    .button {
        margin-inline: 32px;
    }

    .content-cat-grooming {
        display: flex;
        flex-direction: column-reverse;
    }

    .hr {
        max-width: 305px;
    }

    .cat-grooming-section {
        height: 170vh;
    }

    footer {
        height: 850px;
        width: 100%;
    }

    #upper-footer {
        flex-direction: column;
        margin-top: 400px;

    }

    #lower-footer {
        flex-direction: column;
        margin-top: 400px;
    }

    #lower-footer p {
        max-width: 600px;
    }
    nav {
        overflow: hidden;
    }

    #rightnav a {
        display: none;
    }

    .container .hamburger {
        display: flex;
    }

    #hamburger-div {
        display: none;
        margin-top: 110px;
        position: fixed;
    }
}


.img-daycare {
    width: 100%;
    border-radius: 16px;
    height: 360px;
}

.card-paket-daycare {
    border-radius: 20px;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
    background-color: #95BB6F;
    height: 54px;
    color: white;
    font-weight: 600;
    font-size: 20px;
} 

.button:hover {
    background-color: #95BB6F;
    color: white;
}