* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}



nav {
    background-color: white;
    background-image: url(Picture/paw-pattern\ 1.svg);
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    border-radius: 50px;

}

.container .hamburger {
    display: none;
    cursor: pointer;

}

#hamburger-div {
    justify-content: center;
    width: 99%;
    height: 500px;
    background-color: white;
    padding: 40px 20px 40px 20px;
    border-radius: 32px 32px 0px 0px;
    display: none;

}

.lowercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;
}

.lowercontainer p {
    color: rgba(46, 80, 112, 1);
    ;
}

.lowercontainer img {
    margin: 0px 20px;
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
    color: rgba(46, 80, 112, 1);
}

.cat-doctor {
    width: 100%;
    height: 140px;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    margin-top: 40px;
}



#about-me img {
    width: 180px;
    height: 110px;
    margin-top: 60px;
    margin-left: 20px;
}




#about-me h1 {
    font-family: "Barlow";
    font-size: 56px;
    font-weight: 900;
    text-align: left;
    max-width: 150px;
    color: rgba(46, 80, 112, 1);
    margin-top: 30px;
}

.hero-judul {
    font-weight: 900;
    color: #2E5070;
    max-width: 245px;
    font-size: 54px;
}

#about-me p {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    max-width: 450px;

}


#rightnav a {
    color: rgba(46, 81, 113, 1);
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;

}

#gambar-hal-1 {
    width: 105%;
    height: 400px;
    background-image: url(/images/cat-hal1.svg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.text-doctor {
    font-family: "Barlow";
    font-size: 33px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: rgba(46, 80, 112, 1);
}

.text-first-page img {
    width: 520px;
}

.text-second-page img {
    width: 520px;
}

.contact {
    width: 105%;
    height: 680px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact h1 {
    font-family: "Barlow";
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.lower-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-contact img {
    width: 300px;
}

.lower-contact p {
    color: rgba(46, 80, 112, 1);
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.lower-contact h3 {
    font-family: "Barlow";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(46, 80, 112, 1);

}

footer {
    width: 105%;
    height: 450px;
    background-image: url(/images/paw-pattern-dark.svg);
    background-color: rgba(46, 80, 112, 1);
    display: flex;
    justify-content: center;
}

#footer {
    width: 95%;
    height: 450px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upper-footer {
    width: 75%;
    height: 250px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

#upper-footer img {
    width: 250px;
}

#upper-footer h6 {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: rgba(198, 234, 227, 1);
}

#upper-footer p {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

#lower-footer {
    width: 100%;
    height: 150px;
    border-top: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
}


@media (max-width:640px) {
    nav {
        overflow: hidden;
    }

    #rightnav a {
        display: none;
    }

    .container .hamburger {
        display: flex;
    }

    #hamburger-div {
        display: none;
        margin-top: 110px;
        position: fixed;
    }

    #gambar-hal-1 {
        background-size: cover;
        background-position: center;
        background-image: url(/images/cat-hal1.svg);
    }

    #about-me {
        flex-direction: column;
    }

    #about-me img {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .text-doctor-container {
        /* margin-left: 43px; */
    }

    .text-first-page {
        flex-direction: column;
        justify-content: flex-start;
    }

    .text-first-page p {
        translate: -40px;

    }

    .text-first-page img {
        width: 420px;
        height: 350px;

    }

    .text-second-page {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }


    .text-second-page img {
        width: 420px;
        height: 350px;

    }

    .lower-contact {
        flex-direction: column;
    }

    .lower-contact img {
        width: 400px;
    }

    .contact {
        height: 1800px;
    }

    footer {
        height: 850px;
    }

    #upper-footer {
        flex-direction: column;
        margin-top: 400px;

    }

    #lower-footer {
        flex-direction: column;
        margin-top: 400px;
    }

    #lower-footer p {
        max-width: 600px;
    }




}